* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sky {
    width: 160%;
    height: 50%;
    position: relative;
    background-image: url('./assets/sky.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    animation: movebg 450s linear infinite;
}

.city {
    position: absolute;
    width: 50vh;
    height: 20vh;
    background-image: url('./assets/city\ .png');
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    left: 25%;
    display: flex;
    align-items: flex-end;
}

.city::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30%;
    width: 50vw;
    height: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #000;
}

.river {
    width: 200%;
    height: 15%;
    background-image: url('./assets/river.png');
    background-size: cover;
    background-repeat: repeat-x;
    position: relative;
    animation: move-sea 140s linear infinite;
}

.river::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
}

.streetlights {
    width: 100%;
    height: 327px;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    background-image: url('./assets/streetlights-2.png');
    background-size: contain;
    background-repeat: repeat-x;
    animation: movebg 30s linear infinite;
    z-index: 6;
    border: 5px solid red;
}

.fences {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0rem;
    left: 0;
    background-image: url('./assets/fence3.png');
    background-size: contain;
    background-repeat: repeat-x;
    animation: movebg 30s linear infinite;
    z-index: 5;
    border-bottom: 5px solid rgb(20, 9, 0);
}

.fences::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.253);
}

.path {
    width: 100%;
    height: 5%;
    background-image: url('./assets/path.jpg');
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    animation: movebg 30s linear infinite;
}

.path::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(0, 0%, 11%), #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsl(0, 0%, 11%), #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.path::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
}

.guy {
    width: 170px;
    height: 260px;
    margin: 0 auto;
    background:url('./assets/walking-man.png') repeat-x;
    position: absolute;
    top: -13rem;
    left: 40%;
    z-index: 10;
    animation: walk 1.2s steps(8) infinite;
    /* border: 5px solid red; */
}

.grass {
    width: 100%;
    height: 30%;
    background-image: url('./assets/grass.jpeg');
    background-size: contain;
    background-repeat: repeat;
    position: relative;
    animation: movebg 30s linear infinite;
}

.grass::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
}

.bush {
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: -8rem;
    left: 0;
    background-image: url('./assets/bush2.png');
    background-size: cover;
    background-repeat: repeat;
    animation: movebg 50s linear infinite;
    z-index: 4;
}


/* keyframes */

/* @keyframes walk {
  0% { background-position:0 }
  100% { background-position:-1332px }
}

@keyframes movebg {
  0% { background-position:0px } 
  100% { background-position: -1500px}
}

@keyframes move-sea {
  0% { background-position:0px } 
  100% { background-position: -1500px 50px}
} */